.button {
  background-color: $basic;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  color: $light-1;
  vertical-align: top;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button:hover,
.button:focus {
  background-color: $basic-hover;
  color: $light-1;
  transition: all 0.2s ease;
}

.button:active {
  background-color: rgba($basic, 0.5);
}

.button--commercial {
  width: 340px;
  height: 75px;
  padding: 30px 39px;
  padding-right: 178px;
}

.button--tabs {
  width: 250px;
  height: 75px;
  padding: 30px 39px;
  margin-top: 50px;
}

.button--package {
  width: 310px;
  height: 75px;
  padding: 30px 68px;
  margin-top: auto;
  margin-bottom: 0;
}

.button--submit {
  font-family: "Montserrat", "Tahoma", sans-serif;
  letter-spacing: 2px;
  width: 176px;
  height: 50px;
  padding: 17px 40px;
  border: none;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.button-close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
}

.button--disabled {
  background-color: $footer-border;
  color: $light-2;

  &:hover,
  &:focus,
  &:active {
    background-color: $footer-border;
    color: $light-2;
  }
}
