.callback {
  width: 100%;
  min-width: 1024px;
  max-width: 1186px;
  margin: 0 auto;
  min-height: 455px;
  position: relative;
  margin-bottom: 170px;

  height: 455px;
  background-image: url('../img/background-pink-desktop@1x.jpg');
  background-position: 14px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../img/background-pink-desktop@2x.jpg');
    background-size: contain;
  }

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    padding-top: 70px;
    padding-right: 0;
    padding-left: calc(50% - 329px);
    position: static;
    margin-bottom: 80px;

    background-image: url('../img/background-pink-tablet@1x.jpg');
    background-size: cover;
    background-position: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/background-pink-tablet@2x.jpg');
      background-size: contain;
    }
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    min-height: 441px;
    background-image: none;
    padding-top: 0;
    background-color: $light-2;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: flex;
      align-items: center;
      padding-left: 2%;
    }
  }
}

.callback__form {
  position: absolute;
  top: 70px;
  right: -30px;

  margin-right: 50px;
  width: 656px;
  min-height: 315px;
  background-color: $light-1;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
  padding: 45px 50px;
  padding-bottom: 49px;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (max-width: $tablet-width) {
    position: static;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
    height: inherit;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;

    box-shadow: none;
    background-color: $light-2;
  }
}

.callback h2 {
  letter-spacing: 0.5px;
  margin: 0 auto;
  margin-bottom: 5px;

  @media (max-width: $mobile-width) {
    font-size: 25px;
    line-height: calc(32 / 25);
    margin-bottom: 19px;
    text-align: center;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.28;
    }
  }
}

.callback p {
  margin: 0 auto;
  margin-bottom: 20px;

  @media (max-width: $mobile-width) {
    line-height: calc(24 / 16);
    text-align: center;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.5;
    }
  }
}

.callback__inner {
  display: flex;
  justify-content: space-between;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.callback__box {
  position: relative;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.callback__box--required {
  @include box-required;
}

.callback__box p {
  @include message-error;
}

.callback__box input {
  @include input;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.callback__btn {
  @include button;
  @include button-submit;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-top: 0;
  }
}
