.commercial {
  width: 100%;
  min-height: 859px;
  margin: 0 auto;
  margin-bottom: 200px;

  background-image: url("../img/commercial-desktop@1x.jpg");
  background-color: #8ebeeb;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/commercial-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    min-width: 767px;
    max-width: 1023px;
    min-height: 344px;
    padding-top: 60px;
    background-image: url("../img/commercial-tablet@1x.jpg");
    margin-bottom: 80px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/commercial-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;

    min-height: 485px;
    padding-top: 81px;
    background-image: url("../img/commercial-mobile@1x.jpg");
    background-color: transparent;
    background-size: 100% 235px;
    background-position: center top;
    margin-bottom: 53px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/commercial-mobile@2x.jpg");
    }
  }
}

.commercial__inner {
  width: 412px;
  position: absolute;
  top: 185px;
  right: 22.5%;

  @media (max-width: $tablet-width) {
    width: 400px;
    position: static;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    width: 294px;
  }
}

.commercial h1 {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 55px;
  line-height: calc(80 / 55);
  letter-spacing: -1.10667px;
  color: $light-1;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: calc(45 / 30);
    text-align: center;
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 102px;
  }
}

.commercial p {
  width: 376px;
  margin: 0;
  margin-bottom: 35px;
  line-height: calc(27 / 16);
  letter-spacing: -0.466667px;
  color: $light-1;

  @media (max-width: $tablet-width) {
    text-align: center;
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-width) {
    width: inherit;
    color: $dark-2;
  }
}

.commercial__btn {
  width: 340px;
  height: 75px;
  padding: 30px 36px;
  padding-right: 178px;
  position: relative;

  @include button;

  &::before {
    content: "";
    position: absolute;
    top: 29px;
    right: 39px;
    width: 16px;
    height: 16px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $tablet-width) {
    width: 250px;
    height: 50px;
    padding: 19px 40px;
    padding-right: 90px;

    &::before {
      top: 17px;
    }
  }
}
