.direction {
  width: 100%;
  min-width: 1024px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    margin-bottom: 48px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
  }
}

.direction h2 {
  width: 358px;
  min-height: 160px;
  font-weight: 600;
  font-size: 55px;
  line-height: calc(80 / 55);
  letter-spacing: -1.245px;

  margin: 0;
  margin-bottom: 64px;
  position: relative;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.45;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -34px;
    left: 1px;
    width: 229px;
    height: 4px;
    background-color: $basic;
  }

  @media (max-width: $tablet-width) {
    width: 301px;
    min-height: auto;
    font-size: 30px;
    line-height: calc(45 / 30);
    text-align: center;
    display: block;
    margin: 0 auto;
    position: static;
    margin-bottom: 20px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.5;
    }

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    font-size: 24px;
    line-height: calc(36 / 24);

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.5;
    }
  }
}

.direction p {
  width: 328px;
  letter-spacing: -0.466667px;
  color: rgba($dark-2, 0.7);
  margin: 0;
  margin-bottom: 6px;

  @media (max-width: $tablet-width) {
    width: 343px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.direction__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: -2.45%;
  margin-right: -2.45%;

  // @media (max-width: $tablet-width) {

  // }

  // @media (max-width: $mobile-width) {

  // }
}

.direction__item {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 2.45%; //30px;
  margin-right: 2.45%; //30px;
  position: relative;
  width: 28.43%;
  height: 430px;

  @media (max-width: $tablet-width) {
    width: 288px;
    height: 425px;
  }
}

.direction__mask {
  display: none;
  width: 100%;
  height: 430px;
  background-color: rgba($dark-3, 0.6);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    width: 288px;
    height: 425px;
  }
}

.direction__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 72px;
  margin: 0 auto;
  border: 1px solid rgba($light-1, 0.7);
  background-color: transparent;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 2px;
  color: $light-1;
  text-transform: uppercase;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.21;
  }
}

.direction__item:hover .direction__mask,
.direction__item:focus .direction__mask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.direction__item:active .direction__mask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba($dark-3, 0.85);
}

.direction__box-text {
  position: absolute;
  bottom: 0%;
  left: 19%;
  width: 62%;
  height: 62px;
  z-index: 10;
  background-color: $light-1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.direction__label {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(24 / 29);
  letter-spacing: -0.415px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 0.83;
  }
}

.direction__img {
  width: 350px;
  height: 430px;

  @media (max-width: $tablet-width) {
    width: 288px;
    height: 425px;
  }
}
