.field-text {
  margin-bottom: 20px;
  position: relative;
}

.field-text__input {
  width: 269px;
  height: 50px;
  padding: 15px;
  padding-left: 15px;
  border: 1px solid rgba($dark-2, 0.3);
  font-family: "Montserrat", "Tahoma", sans-serif;
  letter-spacing: 0.5px;
}

.field-text__input::placeholder {
  color: $dark-3;
}

.field-text__input--phone {
  padding-left: 26px;
}

.field-text--phone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 15px;
    width: 36px;
    height: 36px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
  }
}

.field-text__input--error {
  border: 1px solid $basic;
}

.field-text__error {
  @include text-reset;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: $basic;
  font-family: "Montserrat", "Tahoma", sans-serif;
  letter-spacing: 0.1px;
  position: absolute;
  top: -15px;
}

.field-text__error--show {
  display: inline;
}

.field-text__input:hover,
.field-text__input:focus,
.field-text__input:active {
  border: 1px solid rgba($dark-2, 0.7);
}

// .field-text__input:invalid {
//   border: 1px, solid, $basic;
// }

// .invalid {
//   border: 1px, solid, $basic;
// }

// .valid {
//   border: 1px, solid, green;
// }
