.footer {
  width: 100%;
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    flex-direction: column;
    padding-left: 21px;
    padding-right: 21px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    padding-left: 11px;
    padding-right: 11px;
    text-align: center;
  }
}

.footer__inner {
  display: flex;
  width: 100%;
  min-width: 600px;
  max-width: 779px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid $footer-border;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    min-width: 270px;
    max-width: 440px;
    flex-direction: column;
  }
}
