.header {
  width: 100%;
  min-width: 1024px;
  max-width: 1200px;
  margin: 0 auto;
  // background-color: rgb(0, 128, 0);
}

.header__inner {
  min-height: 100px;
  // width: 97%;
  margin: auto;
  padding-right: 1.5%;
  padding-left: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // background-color: rgb(150, 140, 140);
}
