.header__logo {
  margin-top: 12px;
}

.header-nav,
.header-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include list-reset;
}

.header-nav {
  margin-right: 12px;
  margin-top: 3px;
}

.header-nav__item:not(:last-child) {
  margin-right: 40px;
}

.header-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $dark-3;
}

.header-nav__link:hover {
  color: $basic;
  transition: all 0.2s ease;
}

.header-nav__link:active {
  color: rgba($dark-4, 0.2);
}
