.option {
  width: 370px;
  padding-left: 49px;
  flex-shrink: 1;

  @media (max-width: $tablet-width) {
    width: 667px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }
}

.option h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(32 / 18);
  color: $dark-3;
  margin: 0;
  margin-bottom: 20px;
}

.option p {
  margin: 0;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba($dark-3, 0.5);
}
