.package {
  width: 100%;
  min-width: 295px;
  max-width: 370px;
  min-height: 674px;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba($dark-2, 0.3);
  background-color: $light-1;
  margin-right: 30px;
  padding-right: 30px;
  padding-left: 28px;
  padding-top: 40px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    width: 288px;
    min-width: 288px;
    max-width: 288px;
    min-height: 629px;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }
}

.package:not(:last-child) {
  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.package__title {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 600;
  font-size: 28px;
  line-height: calc(38 / 28);
  letter-spacing: -1.27273px;
  color: rgba($dark-3, 0.7);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: calc(34 / 24);

    flex-direction: column;
    margin-bottom: 11px;
  }
}

.package__title span:first-child {
  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.package > p {
  width: 289px;
  margin: 0;
  margin-bottom: 28px;
  line-height: calc(24 / 16);

  @media (max-width: $tablet-width) {
    width: auto;
    margin-bottom: 10px;
    text-align: center;
  }
}

.package:hover {
  box-shadow: 0 0 0 3px $basic;
  transition: all 0.2s ease;
}

.package:hover > .package__title,
.package:hover > .package__line {
  color: $basic;
  transition: all 0.2s ease;
}

.package:hover > .package__content .package__item .package__tick {
  color: $dark-3;
  transition: all 0.2s ease;
}

.package__line,
.package__tick {
  fill: currentColor;
}

.package__line {
  width: 310px;
  height: 1px;
  margin-bottom: 29px;

  @media (max-width: $tablet-width) {
    width: 248px;
    margin-bottom: 10px;
  }
}

.package__content {
  @include list-reset;
  list-style: none;
}

.package__item {
  display: flex;
  line-height: calc(32 / 16);
  margin-bottom: 15px;
}

.package__item--x {
  margin-bottom: 9px;
}

.package__tick {
  flex: 0 0 auto;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  margin-top: 10px;
  color: $basic;
}

.package__item p {
  margin: 0;
  line-height: calc(32 / 16);
}

.package__btn {
  width: 100%;
  height: 75px;
  padding: 30px 58px;
  margin-top: auto;
  margin-bottom: 0;

  @include button;
  text-align: center;

  @media (max-width: $tablet-width) {
    width: 288px;
    height: 50px;
    margin-left: -20px;
    padding: 20px 68px;
  }
}
