.phone {
  margin-left: 57px;
  padding-left: 36px;
  margin-top: 3px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.phone__tel {
  font-size: 18px;
  line-height: calc(32 / 18);
  text-decoration-line: underline;
  color: $basic;
  position: relative;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.78;
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -39px;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone-icon-2.svg");
    background-repeat: no-repeat;
  }
}

.phone__tel:hover,
.phone__tel:focus {
  color: $dark-4;
  transition: all 0.2s ease;
}

.phone__tel:active {
  color: rgba($dark-4, 0.2);
}

.phone p {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 13px;
}
