.success {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  display: none;
}

.success--show {
  display: block;
}

.success__box {
  width: 728px;
  min-height: 444px;
  margin: 0 auto;

  position: fixed;
  top: 22.7vh;
  left: calc(50vw - 364px);
  background-color: $light-2;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.success__message {
  width: 399px;
  font-weight: 500;
  font-size: 25px;
  line-height: calc (43 / 25);
  text-align: center;
}

.success__close {
  @include button-close;
}
