.tab {
  width: 100%;
  min-width: 1024px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 3.1%;
  margin: 0 auto;
  margin-bottom: 240px;

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 112px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
  }
}

.tab__item {
  display: none;
}

.tab__item.active {
  transition: all 1s ease;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.tab__inner-1 {
  padding-left: 5px;
  padding-top: 10px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-top: 0;
  }
}

.tab__inner-1 h2 {
  font-weight: 600;
  font-size: 55px;
  line-height: calc(90 / 55);
  letter-spacing: -1.245px;
  margin: 0;
  margin-bottom: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 1px;
    width: 173px;
    height: 4px;
    background-color: $basic;
  }

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: calc(45 / 30);
    margin-bottom: 20px;
    text-align: center;

    &::before {
      display: none;
      position: static;
    }
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
  }
}

.tab__inner-1 p {
  width: 370px;
  letter-spacing: -0.466667px;
  margin: 0;
  margin-right: 30px;

  @media (max-width: $tablet-width) {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.tab__btn {
  width: 250px;
  height: 75px;
  padding: 30px 35px;
  text-align: center;
  margin-top: 50px;

  @include button;

  @media (max-width: $tablet-width) {
    width: 250px;
    height: 50px;
    padding: 18px 51px;
    display: block;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 50px;
  }
}

.tab__inner-2 {
  width: 670px;
  position: relative;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: 768px;
    max-width: 1023px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
  }
}

.tab__img {
  width: 430px;
  height: 596px;

  @media (max-width: $tablet-width) {
    object-fit: cover;
    width: 100%;
    height: 415px;
  }
}

.tab__feedback {
  position: absolute;
  width: 382px;
  min-height: 365px;
  top: 117px;
  right: -20px;
  background-color: $light-1;
  padding: 30px;
  padding-top: 29px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    min-height: 367px;
    top: 80px;
    right: calc(50% - 191px);
  }

  @media (max-width: $mobile-width) {
    width: 268px;
    min-height: 431px;
    right: calc(50% - 134px);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.tab__feedback h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: calc(37 / 30);
  letter-spacing: -0.691667px;
  color: $dark-2;
  position: relative;
  margin: 0;
  margin-bottom: 32px;

  &::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 68px;
    height: 2px;
    background-color: $basic;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: center;

    &::before {
      left: 80px;
      height: 1px;
    }
  }
}

.tab__feedback-text {
  margin: 0;
  font-size: 14px;
  line-height: calc(28 / 14);
  letter-spacing: -0.408333px;
  color: rgba($dark-2, 0.7);

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.tab__feedback-author {
  height: 38px;
  line-height: 38px;
  margin-top: auto;
  margin-bottom: 0;
  padding-left: 54px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -1.1px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile-width) {
    height: 72px;
    padding-left: 0;
    padding-top: 48px;
    text-align: center;

    &::before {
      content: "";
      top: 0;
      left: calc(50% - 17px);
    }
  }
}

.tab__feedback-author--1::before {
  background-image: url("../img/vlada-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/vlada-desktop@2x.png");
    background-size: contain;
  }
}

.tab__feedback-author--2::before {
  background-image: url("../img/marishka-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/marishka-desktop@2x.png");
    background-size: contain;
  }
}

.tab__feedback-author--3::before {
  background-image: url("../img/mihail-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/mihail-desktop@2x.png");
    background-size: contain;
  }
}

.tab__feedback-author--4::before {
  background-image: url("../img/anastasia-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/anastasia-desktop@2x.png");
    background-size: contain;
  }
}

.tab__feedback-author--5::before {
  background-image: url("../img/vladimir-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/vladimir-desktop@2x.png");
    background-size: contain;
  }
}
