.tabs {
  width: 100%;
  min-width: 900px;
  max-width: 900px;
  border-bottom: 2px solid rgba($dark-2, 0.3);
  margin-left: 15px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    margin-right: 15px;
    flex-wrap: nowrap;
    min-width: 362px;
    max-width: 900px;
    overflow-x: scroll;
  }
}

.tabs__link {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.415px;
  color: rgba($dark-2, 0.3);
  background-color: transparent;
  border: 0;
  height: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.tabs__link:not(:last-child) {
  margin-right: 10%;
}

.tabs__link.active {
  color: $basic;
}

.tabs__link:hover,
.tabs__link:focus {
  color: $dark-2;
}

.tabs__link:active {
  color: rgba($dark-4, 0.1);
}
