.tabs {
  width: 100%;
  min-width: 900px;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 79px;

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 899px;
    margin-bottom: 33px;
    overflow-x: scroll;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
  }
}

.tabs__inner {
  width: 900px;
  border-bottom: 2px solid rgba($dark-2, 0.3);
  margin-left: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-wrap: nowrap;
  }
}

.tabs__link {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.415px;
  color: rgba($dark-2, 0.3);
  background-color: transparent;
  border: 0;
  height: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.2;
  }
}

.tabs__link:not(:last-child) {
  margin-right: 10%;
}

.tabs__link:last-child {
  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }
}

.tabs__link.active {
  color: $basic;
}

.tabs__link:hover,
.tabs__link:focus {
  color: $dark-2;
}

.tabs__link:active {
  color: rgba($dark-4, 0.1);
}
