$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$light-1: #ffffff;
$light-2: #fbf8f8;
$light-3: #d8d8d8;
$basic: #fe7865;
$basic-hover: #f17d4b;
$dark-1: #48494d;
$dark-2: #2c2e3f;
$dark-3: #141517;
$dark-4: #000000;
$footer-border: #d7d9df;
